@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inconsolata";
  src: url("./assets/Inconsolata-font/static/Inconsolata-Medium.ttf");
}

html {
  background-color:rgb(3, 3, 53);
}
